header  {
    position: fixed;
    width:100%;
    z-index: 10000;
    font-size: 15px;
    background-color: #10101080;
}
header hr {
    width: 100%;
    margin: 10px -10px -10px -10px;
}
#head   {
    position: relative;
}
#head hr.head-border   {
    top: 5px;
    position: absolute;
    border: 2px dashed #303030;
    width: 97%;
}
.nav-list   {
    list-style: none;
    display: flex;
    /* justify-content: flex-end; */
    position: relative;
    margin: 0;
    padding: 0;
}
.nav-dir   {
    color: #4baffa;
    text-decoration: none;
    background-color: #303030;
    padding: 5px 0px;
}
.nav-system   {
    color: #696969;
    text-decoration: none;
    background-color: #303030;
    padding: 5px 10px;
}
.nav-git   {
    color: #82d241;
    text-decoration: none;
    background-color: #303030;
    padding: 5px 10px;
}
.nav-time   {
    color: #698787;
    margin: 0 0 0 auto;
    background-color: #303030;
    padding: 5px 10px;
}
main    {
    padding-top: 130px;
}
body    {
    background-color: #101010;
    color: #bbbbbb;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.commandline    {
    padding: 10px 5px;
    text-align: left;
    font-size: 18px;
    color: #bbbbbb;
}
a.anchor{
    display: block;
    padding-top: 155px;
    margin-top: -155px;
}
.head-command   {
    color: #73be37;
}
.cursor {
    color: #f5b47d;
}
.command-br {
    display: block;
    content: "";
    margin: 5px 0;
}
.command-pages  {
    padding: 0px 15px;
    color: #fffac8;
}
.command-page   {
    font-size: 20px;
    /* font-size: clamp(19px, 2vw, 20px); */
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    color: #afd2ff;
}
.command-page:hover   {
    text-decoration: underline;
}
.left   {
    float: left;
    width: 50%;
}
.left img   {
    width: clamp(120px, 13vw, 180px);
}
ul   {
    padding: 0px;
}

}
.right  {
    float: right;
    width: 50%;
}
h1  {
    font-size: clamp(30px, 4vw, 50px);
    /* font-size: 40px; */
    color: #dadada;
    text-align: center;
    margin: 0;
}
.right br  {
    display: block;
    content: "";
    margin: 50px 0;
}
ul   {
    padding: 0px;
}
.link-icon li   {
    display: inline;
	padding: 20px;
}
.link-icon img  {
    width: clamp(36px, 5vw, 60px);
}
.link-icon p{
    text-align: center;
}
.null {
    padding:5px
}
hr {
    width: 100%;
    margin: 30px 0 15px;
}
.about  {
    text-align: center;
}
.univinfo {
    display: inline-block;
    white-space: nowrap;
    width: 4em;
    padding: 0 10px;
    font-size: clamp(10px, 3vw, 25px);
}
.aboutinfo  {
    /* text-align: center; */
    padding-right: 300px;
}
.heading {
    padding:15px 0;
}
.skill1 {
    list-style-type: none;
    float: left;
    width: 50%;
    font-size: clamp(10px, 3vw, 25px);
}
.skill2 {
    list-style-type: none;
    float: right;
    width: 50%;
    font-size: clamp(10px, 3vw, 25px);
}
.interest1 {
    float: left;
    width: 33.3%;
}
.interest1 img {
    margin: 0 10%;
    width: clamp(50px, 7vw, 150px);
    /* width: 30%; */
}
.interest1 p {
    font-size: clamp(12px, 2vw, 25px);
    /* font-size: 15px; */
    text-align: center;
}
.work img {
    margin: 0 10%;
    width: clamp(350px, 40vw, 550px);
    /* width: 50%; */
}
.work h2    {
    font-size: 27px;
}
.work h3    {
    font-size: 22px;
}
.work p {
    font-size: 15px;
    text-align: center;
}
.works hr{
    /* border: 2px dashed #303030; */
    border: 3px dotted #505050;
}
